@import "./base";
@import "./mixins";
@import "./sidebar";
@import "./sidebar-bottom";
@import "./fonts/fonts";
@import "./colors/colors";
@import "./radius/radius";
@import "./spacing/spacings";
@import "./aligns/flex";
@import "./aligns/gap";
@import "./aligns/grid";
#app {
  font-weight: normal;
  font-family: var(--text-font-regular);
}

a {
  text-decoration: none;
  transition: 0.4s;
}

button {
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-black-950)
  }
}
